.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    right: 50%;
    margin-right: -3px;
    top: 0;
}
h1{
	font-family: courier;
	color: maroon;
	font-size: 150px;
	letter-spacing: 6px;
}
th{
	font-family: normal;
	color: black;
	font-size: 50px;
	letter-spacing:3.5px;
}
h3{
	font-family: cursive;
	color: purple;
	font-size: 80px;
}
h2{
	font-family: cursive;
	color: purple;
	font-size: 60px;
}
h4{
	font-family: cursive;
	color: DarkSlateBlue;
	font-size: 30px;
}
p{
	font-family: normal;
	color: DarkSlateBlue;
	font-size: 45px;
	letter-spacing:3.5px;
}
