hr{
	display: block;
	border-style: inset;
	border-width: 5px;
}
h1{
	font-family: normal;
	color: maroon;
	font-size: 150px;
	letter-spacing: 6px;
}
th{
	font-family: normal;
	color: black;
	font-size: 50px;
	letter-spacing:3.5px;
}
p{
	font-family: normal;
	color: blue;
	font-size: 40px;
	letter-spacing: 2px;
}
h3{
	font-family: cursive;
	color: orange;
	font-size: 80px;
	letter-spacing: 2px;
}
 <background-image: url ("images.jgp);

